<form [formGroup]="formulario" *ngIf="atencion">
    <div class="mb-3">
        <label for="inputPaciente" class="form-label">Paciente:</label>
        <input type="text" class="form-control" id="inputPaciente" name="paciente" formControlName="paciente">
    </div>
    <div class="mb-3">
        <label for="inputDocumento" class="form-label">Documento:</label>
        <input type="number" class="form-control" id="inputDocumento" name="documento" formControlName="documento">
    </div>
    <div class="mb-3">
        <label for="inputCosto" class="form-label">Costo:</label>
        <input type="number" class="form-control" id="inputCosto" name="costo" formControlName="costo">
    </div>
    <div class="mb-3">
        <label for="selectEspecialidadId" class="form-label">Especialidad:</label>
        <select class="form-select" id="selectEspecialidadId" name="especialidadId" formControlName="especialidadId">
            <option *ngFor="let esp of especialidades" [value]="esp.id">
                {{ esp.nombre }}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="selectMedicoId" class="form-label">Medico:</label>
        <select class="form-select" id="selectMedicoId" name="medicoId" formControlName="medicoId">
            <option *ngFor="let med of medicos" [value]="med.id">
                {{ med.nombre }}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="inputFecha" class="form-label">Fecha:</label>
        <input type="date" class="form-control" id="inputFecha" name="fecha" formControlName="fecha"/>
    </div>
    <!-- se conservó el formato de mensaje de error original. El mismo, también se muestra
         en caso de haber más de 3 atenciones con la fecha -->
    <p *ngIf="formulario.invalid && formulario.touched">Alguno de los datos es inválido.</p>

    <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar</button>
</form>